.verificationProgresscontainer {
}
.verificationProgress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.verifyItem {
  width: 25%;
  border-top: 3px solid #c0c0c0;
  text-align: center;
  position: relative;
}
.active_Ify {
  border-top-color: var(--fml-secondary);
}
.verifyCircle {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 45%;
  padding-top: 45%;
  border-radius: 50%;
  background: #c0c0c0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  color: white;
}
.verifyCircle.active_Ify {
  background: var(--fml-secondary);
}
.progressNumber {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  font-size: calc(12px + 12 * ((100vw - 320px) / (1366 - 320)));
  font-weight: 500;
}
.text_Ify {
  font-size: 12px;
  padding-top: 30%;
  display: block;
}
.needsValidation {
}
.verifyFormAddress {
}
.required_Ify {
  font-size: 80%;
  color: red;
}
.verifyFormAddress input,
.verifyFormAddress select {
  height: 45px;
  border: 1px solid rgba(4, 23, 42, 0.7);
}

.verifyFormAddress button {
  font-weight: 500;
}
