.reset_password_anon{padding:50px 0;background:#FAFAFA;}
.main_container_anon{width:90%;margin:0 auto;}
.reset_password_header_anon{width:100%;margin:0 auto;text-align:center;padding:30px 0;}
.reset_password_anon form{width:100%;margin:0 auto;padding:30px 0;}
.reset_password_body_anon{width:100%;margin:0 auto;}
.reset_password_anon form label{font-style:normal;font-weight:bold;font-size:24px;line-height:31px;color:#04172A;}
.reset_password_anon form input{height:77px;width:100%;border:1px solid #C4C4C4;border-radius:5px;padding-left:20px;margin-bottom:10px;outline:none;}
.reset_password_anon form::placeholder{font-style:normal;font-weight:normal;font-size:16px;line-height:21px;color:#C4C4C4;}
.reset_password_anon form p{color:#aa0000;font-size: 14px;margin:0 0 40px;}
.reset_password_anon form button{height:69px;}

@media only screen and (min-width:768px){
.main_container_anon{width:90%;margin:0 auto;}
}

@media only screen and (min-width:1200px){
.main_container_anon{width:1180px;}
.reset_password_body_anon{width:700px;}
}